
body,html {
    margin: 0;
    padding: 0;
}

html{
    background-image: url(./files/embers.gif);
    background-size: cover;

}    
body{

    font-family: 'Girassol', cursive;
    display: flex;
    justify-content: center;
    /* border: 2px solid green; */
    height: 100vh;
    padding-left: 15vw;
    padding-right: 15vw;
}

/* .leftImage, .rightSpace {
    border: 2px solid red;
} */

.leftImage{
    background-image: url(./files/anvil.jpg);
    max-width: 25vw;
    background-size: cover;
    background-position: center;
    flex-grow: 2;
    display: flex;
    align-items: center;
    padding-bottom: 15vh;

}

.logoBack{
    background-color: rgba(77, 77, 77, 0.6);
    padding: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;

}


#calionLogo{
    max-width:80%;
    max-height:auto;
    margin: 0;

}
.rightSpace{
    /* width: 64vw; */
    background-color: rgb(215, 215, 210);
    display: flex;
    flex-direction: column;
    justify-content:space-around; 
    padding-bottom: 150px;
    padding-top: 15vh;
    padding-left: 50px;
    padding-right: 50px;
    flex-grow: 3;
}

.inputs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5px;
    box-shadow: 2px 3px 5px 1px rgb(62, 62, 62) ;
    padding-bottom: 10px;
    height: 22vh;
    overflow: scroll;
    margin-bottom: 25px;
    background: rgb(239, 237, 237);
}

.inputs div{

    display: flex;
    flex-direction: column;
    margin: 2px;
    margin-top: 20px;
    margin-bottom: 0px;;
    margin-right: 50px;

    
}

h3,p{
    margin: 0px;
}

.caBtn {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: 'Girassol', cursive;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  width: 12vw;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.caBtn:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.caBtn:hover:after {
  transform: translate(0, 0);
}

.caBtn:active {
  background-color: #bdbdbd;
  outline: 0;
}

.caBtn:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .caBtn {
    padding: 0 40px;
  }
}
p{
    font-size: 1.2rem;
}

input:hover{
  border: 2px solid green;
  border-radius: 4px;
}
.lastname:focus{
  border: 2px solid orangered;
}